@charset "utf-8";
body{
	background-color: #FC0004;	
}
img{
	align-content: center;
	
}
a{
	border-color: aliceblue;
	font-size: 30;
}
div.bom{
	vertical-align: top;
}
p.cara{
	text-align: center;
	color: chocolate;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
}
p.coroa{
	text-align: right;
	color: blue;
	font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black," sans-serif";
}
p.uno{
	text-align: left;
	color: chartreuse;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
}
p.duno{
	text-align: inherit;
	color: darkblue;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
}