@charset "utf-8";
/* CSS Document */
@media screen{
Body{
	background-image: url(imagens/WDF_553670.jpg);
	background-color: black;
	background-size: 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
	div.fundo{
		background-color: aliceblue;
		background-color:rgba(37,180,120,0.54);
	}
	nav.bc{
		background-color:aqua;
		}
h1.noos{
	animation-direction:alternate-reverse;
	background: #CC9798;
	backface-visibility: 85%;
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	font-weight: 600;
	text-align: center;
}
h2.boom{
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	}
	div{
		align-content: center;
	}
	img{
		width: 30%;
		border-image-outset: 10;
	}
	nav.but{
		text-align:center;
	}
	
ul li{
	display: inline;
	}
	li{
		margin: 2px;;
		padding: 10px;
			}
	ol.desce li{
		list-style-type: square;
		padding: 1px;
		margin: 1px;
	}
	li.1{
		padding: 1px;
		margin: 1px;
	}
}
@media(max-width:480px){
body{
	background-image:url(imagens/IMG_1118.JPG);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: 100%;
}
	nav.bc{
		background-color:aqua;
		text-align:left;
		}
	
h1.noos{
	background-color: #28A05B;
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	font-weight: 600;
	text-align: center;
	}
h2.boom{
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	}	
		ul li{
			list-style-type: disc;
			display:inline;
}
	li{
		margin:2px;
		padding: 1px;
	}
		img{
		width: 90%;
		margin: 8px;
}
	
}
