@charset "utf-8";
/* CSS Document */
@media(max-width=device-width){
body{
	background-color: blue;
	}
}
h1.noos{
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	font-weight: 600;
	text-align: center;
	
}
h2.boom{
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	}
ol li{
	list-style-type: square;
	}
