<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="kikeh@kikeh.com">
                <network defaultCredentials="true" host="localhost" password="PittBull19" port="25" userName="heykikeh@gmail.com" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
